.header{
    
    background-image: 
    url("../images/hero.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 600px;
  /* padding: 100px 0; */
  max-width: 1100px;
  
    text-align: center;
    padding: 10px;
    color: red;
    text-decoration: overline;
    /* margin-left:0;
    margin-right: 0; */
    font-family: 'Times New Roman', Times, serif;
    font-weight: 1000;
    font-size: 50px;
   
}
h3{
    margin-top: 15px;
}
#btn{
    border: 5px solid tan;
    /* margin-left: 300px;
    margin-right: 300px; */
    padding: 10px;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    font-weight: bolder;
    background-color: blanchedalmond;

}